<table class="table">
  <thead>
    <tr>
      <th scope="col">ISBN Number</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Books; let i = index">
      <td>
        <a
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#updateModal"
          (click)="onUpdate(i)"
          >{{ item.Isbn }}</a
        >
      </td>
      <td>{{ item.Title }}</td>
      <td>{{ item.Description }}</td>
      <td>{{ item.Author }}</td>
      <td>{{ item.Price }}</td>
    </tr>
  </tbody>
</table>

<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title" id="exampleModalLabel">Update Book</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>

          <div class="row align-items-center mt-2">
            <div class="form-group col-sm-3 align-self-center">
              <label class="col-form-lable">ISBN :</label>
            </div>
            <div class="form-group col-sm-8 align-self-center">
              <label class="col-form-lable">{{ Books[id].Isbn }}</label>
            </div>
          </div>

          <div class="row align-items-center mt-2">
            <div class="form-group col-sm-3 align-self-center">
              <label class="col-form-lable">Title :</label>
            </div>
            <div class="form-group col-sm-8 align-self-center">
              <label class="col-form-lable">{{ Books[id].Title }}</label>
            </div>
          </div>

          <div class="row align-items-center mt-2">
            <div class="form-group col-sm-3 align-self-center">
              <label class="col-form-lable">Author :</label>
            </div>
            <div class="form-group col-sm-8 align-self-center">
              <label class="col-form-lable">{{ Books[id].Author }}</label>
            </div>
          </div>

          <div class="row align-items-center mt-2">
            <div class="form-group col-sm-3 align-self-center">
              <label class="col-form-lable" for="description"
                >Description :</label
              >
            </div>
            <div class="form-group col-sm-8 align-self-center">
              <textarea
                type="text"
                rows="5"
                class="form-control"
                name="description"
                [(ngModel)]="newDescription"
                placeholder="Description..."
                #description
                >{{ Books[id].Description }}</textarea
              >
            </div>
          </div>

          <div class="row align-items-center mt-1">
            <div class="form-group col-sm-3 align-self-center">
              <label class="col-form-lable" for="price">Price $ :</label>
            </div>
            <div class="form-group col-sm-3 align-self-center">
              <input
                type="number"
                class="form-control"
                value="{{ Books[id].Price }}"
                #price
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onUpdateBook(id, description.value, price.value)"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
